footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer-container {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/*gymlogo & primal training*/
.logo-training-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 20px;
  height: 150px;
  margin: 20px auto;
}

.gymlogo {
  width: 150px;
  height: 150px;
}

.primal-training {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .logo-training-container {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }

  .gymlogo {
    width: 120px;
    height: 120px;
  }

  .primalh2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .gymlogo {
    width: 100px;
    height: 100px;
  }

  .primalh2 {
    font-size: 1.2rem;
  }
}

/*footer contact info section*/
.contact-info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  padding: 20px 20px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 10px;
  min-width: 300px;
  flex-grow: 0;
}

.contacth2 {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.contactp {
  font-size: 0.9rem;
  color: #333333;
}

.days,
.time {
  font-size: 0.9rem;
  color: #333333;
}

.opening-hours p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.opening-hours {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.footer-social-links {
  font-size: 0.9rem;
  color: #333333;
  text-decoration: none;
}

.footer-social-links:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
