*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*about*/
.aboutmain-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.aboutheader {
  font-size: 3.5rem;
  padding: 20px 10px;
  font-weight: bolder;
}

.aboutheader-container {
  width: 100%;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .aboutheader {
    font-size: 2.5rem;
  }
}
@media (max-width: 900px) {
  .aboutheader {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .aboutheader {
    font-size: 1.5rem;
  }
}

/*vision*/
.vision {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.textvision {
  flex: 0 0 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  min-height: 400px;
  background-color: #808cfd;
}

.visionimg {
  flex: 0 0 60%;
  min-height: 400px;
}

.visionimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  text-align: left;
}

.text h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.ourvision h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.ourvision p {
  font-size: 1.2rem;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  text h1 {
    font-size: 1.3rem;
  }

  .ourvision h1 {
    font-size: 1.2rem;
  }

  .ourvision p {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .textvision {
    flex: 0 0 50%;
  }

  .visionimg {
    flex: 0 0 50%;
  }

  .text h1 {
    font-size: 1.2rem;
  }

  .ourvision h1 {
    font-size: 1.2rem;
  }

  .ourvision p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .vision {
    flex-direction: column;
  }
  .textvision {
    flex: 0 0 100%;
  }

  .visionimg {
    flex: 0 0 100%;
  }

  .text h1 {
    font-size: 1.2rem;
  }

  .ourvision h1 {
    font-size: 1rem;
  }

  .ourvision p {
    font-size: 1.2rem;
  }
}

/*dynamic gym open*/
.dynamic-open-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.dynamic-open {
  flex: 0 0 30%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  min-width: 300px;
}

.dynamic-open h1 {
  font-size: 2rem;
}

.dynamic-open p {
  font-size: 1.2rem;
  line-height: 1.5;
  word-spacing: 2px;
}
.dynamicImg {
  flex: 0 0 70%;
  min-height: 400px;
}

.dynamicImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .dynamic-open {
    flex: 0 0 50%;
  }

  .dynamicImg {
    flex: 0 0 50%;
  }
}

@media (max-width: 900px) {
  .dynamic-open {
    flex: 0 0 50%;
  }

  .dynamicImg {
    flex: 0 0 50%;
  }

  .dynamic-open h1 {
    font-size: 1.5rem;
  }

  .dynamic-open p {
    font-size: 1.1rem;
    line-height: 1.5;
    word-spacing: 2px;
  }
}

@media (max-width: 600px) {
  .dynamic-open-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dynamic-open {
    flex: 0 0 100%;
   
  }

  .dynamicImg {
    flex: 0 0 100%;
  }

  .dynamic-open h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .dynamic-open p {
    font-size: 1.1rem;
    line-height: 1.5;
    word-spacing: 2px;
  }
}

/*reconnect*/
.reconnect {
  width: 100%;
  position: relative;
}

.reconnect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reconnect h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 50%;
  min-width: 400px;
  color: #ffffff;
  background-color: #000000;
  text-wrap:wrap;
}

@media (max-width: 1100px) {
  .reconnect h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .reconnect h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 900px) {
  .reconnect h1 {
    font-size:20px;
  }
}

@media (max-width: 600px) {
  .reconnect h1 {
    font-size:15px;
  }
}

/*reserve spot*/
.reserve-container-about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
  height: 400px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e9ecff;
}

.WWBI {
  font-size: 1.5;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: center;
}

.reserveh2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #000000;
  margin: 0;
  text-align: center;
}

.about-reservebtn {
  background-color: #808CFD;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
}

@media (max-width: 900px) {
  .reserveh2 {
    font-size: 1.9rem;
  }

  .WWBI {
    font-size: 1.2rem;
  }
  .reservebtn {
    font-size: 13px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .reserveh2 {
    font-size: 1.5rem;
  }

  .WWBI {
    font-size: 1rem;
  }
  .reservebtn {
    font-size: 12px;
    padding: 8px 16px;
  }
}
