*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reserve-main {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/*book a container*/
.book-container {
  width: 100%;
  padding: 20px;
}

.book-container h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}

@media (max-width: 1100px) {
  .book-container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .book-container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 750px) {
  .book-container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .book-container h1 {
    font-size: 1.5rem;
  }
}
.session-text {
  color: #808dfd;
}
/*reserve spot*/
.main-reserve {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
  height: 400px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #808cfd;
}

.r-p {
  font-size: 1.5;
  font-weight: 550;
  color: #000000;
  margin: 0;
  text-align: center;
  width: 50%;
}

.reserveh2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #000000;
  margin: 0;
  text-align: center;
}

.reservebtn {
  background-color: #e9ecff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
}

@media (max-width: 900px) {
  .reserveh2 {
    font-size: 1.9rem;
  }

  .r-p {
    font-size: 1.2rem;
  }
  .reservebtn {
    font-size: 13px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .reserveh2 {
    font-size: 1.5rem;
  }

  .r-p {
    font-size: 1rem;
  }
  .reservebtn {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/*reserve */
.reserve-overall-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.reserve-div {
  flex: 0 0 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
  border: 1.5px solid #000000;
  padding: 15px;
}

.reserve-text h2 {
  font-size: 1.5rem;
}

.schedule p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5px 0;
}

.r-b button {
  background-color: #808cfd;
  font-size: 1rem;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.underline-text {
  text-decoration: underline;
}

.reserve-main-link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .reserve-text h2 {
    font-size: 1.3rem;
  }

  .schedule p {
    font-size: 1.2rem;
  }

  .r-b button {
    font-size: 1rem;
    padding: 8px;
  }
}

@media (max-width: 900px) {
  .reserve-text h2 {
    font-size: 1.2rem;
  }

  .schedule p {
    font-size: 1rem;
  }

  .r-b button {
    font-size: 0.8rem;
    padding: 7px;
  }
}

@media (max-width: 800px) {
  .reserve-overall-container {
    flex-direction: column;
    align-items: center;
  }
  .reserve-div {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .reserve-text h2 {
    font-size: 1rem;
  }

  .schedule p {
    font-size: 1rem;
  }

  .r-b button {
    font-size: 0.8rem;
    padding: 5px;
    font-weight:550;
  }
}
